@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import "./responsive.css";

:root {
  --font-family: "Inter", sans-serif;
  --font-family2: glacialRegular, sans-serif;
  --product-font: "Marcellus", sans-serif;
  --color-primary-one: #000;
  --color-primary-white: #fff;
  --color-vert: #06300b;
  --color-jaune-aliance: #c36000;
  --color-2: #e4c1b1;
  /* --bg-color: #f3f3f3;*/
  --bg-color: #f5f5dc; /* color beige*/
  --transition: all 400ms ease;
  ---color-gray: gray;

  /* SLIDERS GAMME PRODUCT ROOT ------*/
  --background: #e4c1b181;
  --surface-variant: hsl(218, 8%, 28%);
  --secondary-container: hsl(218, 18%, 29%);
  --on-secondary-container: hsl(219, 70%, 91%);

  /*----- Border Radius -----*/
  --radius-full: 50%;
  --radius-12: 12px;
}

@font-face {
  font-family: glacialRegular;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
.container {
  width: 100%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

/*----------------- SLIDER -------------------*/
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderN {
  display: none;
  animation: fade 1.5s ease;
}
#slideFormat750px {
  display: none;
}

@keyframes fade {
  form {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.sliderN .content {
  position: absolute;
  top: 12rem;
  left: 10rem;
  z-index: 999;
  width: 50vw;
  animation: preLoader 1s linear forwards;
}

@keyframes preLoader {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}
.sliderN .content h1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 3.5rem;
  color: #fff;
  padding-bottom: 1rem;
}

.sliderN img {
  position: relative;
  top: -30px;
  height: 100% !important;
}

.sliderN .content p {
  font-size: 25px;
  font-weight: 200;
  text-align: justify;
  padding-bottom: 5rem;
  color: #fff;
  width: 500px;
}

.sliderN .content a {
  color: var(--color-primary-white);
  background: var(--color-jaune-aliance);
  padding: 1rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-jaune-aliance);
  transition: var(--transition);
  font-size: 17px;
}
.sliderN .content a:hover {
  background: transparent;
}

.prev_button,
.suiv_button {
  width: 40px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(240, 240, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  transition: var(--transition);
}
.prev_button {
  left: 5rem;
}
.suiv_button {
  right: 5rem;
}
.prev_button:hover,
.suiv_button:hover {
  color: var(--color-primary-white);
}

.lines {
  position: absolute;
  display: flex;
  bottom: 120px;
  left: 7rem;
  gap: 1rem;
}

.line {
  padding: 7px;
  margin: 0 3px;
  background-color: rgba(240, 240, 255, 0.7);
  cursor: pointer;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
.active,
.line:hover {
  background-color: var(--color-primary-white);
}

/*------------------ 
    ---- HEADER ------
    *------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1150px;
  height: 13vh;
  margin: 0 5rem;
  background: transparent;
  z-index: 99999;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  width: 150px;
}

header nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-right: 8rem;
}

header .menu li a {
  color: var(--color-primary-white);
  text-transform: uppercase;
  font-size: 15px;
  transition: var(--transition);
  font-weight: 600;
}
header .menu li a:hover {
  color: var(--color-jaune-aliance);
}

header.window-scroll .menu li a:hover {
  color: var(--color-jaune-aliance);
}
header .resaux {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .resaux a {
  color: var(--color-primary-white);
  transition: var(--transition);
}
header .resaux a:hover {
  color: var(--color-jaune-aliance);
}
header.window-scroll .resaux a:hover {
  color: var(--color-jaune-aliance);
}

.close__nav {
  display: none;
}
.open__nav {
  display: none;
}
header.window-scroll {
  background: var(--color-primary-white);
  -webkit-box-shadow: 0 0rem 1rem rgba(12, 3, 27, 0.1);
  box-shadow: 0 0rem 1rem rgba(12, 3, 27, 0.1);
  top: -50%;
  animation: scrolMenu 0.41s linear forwards;
  z-index: 99999;
  padding: 0 5rem;
  margin: 0 0;
  width: 100%;
  max-width: 100%;
}
@keyframes scrolMenu {
  to {
    top: 0;
  }
}

header.window-scroll .menu li a {
  color: var(--color-primary-one);
}

header.window-scroll .resaux a {
  color: var(--color-primary-one);
}

header.window-scroll .open__nav i {
  color: var(--color-primary-one) !important;
}

/*-------------
-------- GAMME PRODUCT 
------------------- */
.topProducts {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.topProducts .topHead {
  text-align: center;
  padding: 2rem;
}

.topProducts .topHead h1 {
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 14px;
  position: relative;
  padding-bottom: 2rem;
}

.topProducts .topHead h1 span {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

.topHead .button_messages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  position: relative;
}

.topHead .button_messages::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: var(---color-gray);
  bottom: -1px;
}
.topHead .button_messages button {
  color: var(---color-gray);
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 2rem 0;
  transition: var(--transition);
  border: none;
  background: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.topcontent .product.active {
  margin-right: 150px;
}
.topHead .button_messages button:hover {
  border-bottom: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
}
.topHead .button_messages button:focus {
  border-bottom: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
}
.poductSLider_container {
  padding-inline: 8px;
  display: grid;
  gap: 24px;
  justify-content: center;
  height: fit-content;
  margin-bottom: 4rem;
}
.filter-items {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: transform 250ms ease;
  gap: 24px;
}

.slider-item {
  min-width: calc(100% / var(--slider-items));
  width: calc(100% / var(--slider-items));
  padding-inline: 4px;
}

.sliderSection {
  --slider-items: 1;

  position: relative;
  width: 100%;
  padding-inline: 16px;
  overflow-x: hidden;
}

.sliderSection::before {
  left: 0;
}

.sliderSection::after {
  right: 0;
  --gr-direction: left;
}

.btn-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--secondary-container);
  font-size: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius-full);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
  border: 1px solid var(--secondary-container);
  cursor: pointer;
}

.slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-control.prev {
  left: 0;
}

.slider-control.next {
  right: 0;
}

.slider-control:disabled {
  display: none;
}

.product {
  background: var(--color-primary-white);
  width: 270px;
  height: 510px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
/* quand on clic sur le btn ajouter cette action */
.clic_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 567px) {
  .poductSLider_container {
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
  }

  .card-slider {
    --slider-items: 2.2;
  }
}

@media (min-width: 768px) {
  .poductSLider_container {
    max-width: 720px;
  }
  .card-slider {
    --slider-items: 3.3;
  }
}

@media (min-width: 992px) {
  .poductSLider_container {
    max-width: 960px;
  }
  .card-slider {
    --slider-items: 3.7;
  }
}

@media (min-width: 1200px) {
  .poductSLider_container {
    max-width: 1100px;
  }

  .card-slider {
    --slider-items: 4.3;
  }
}

@media (min-width: 1400px) {
  .poductSLider_container {
    max-width: 1200px;
  }

  .card-slider {
    --slider-items: 5.4;
  }
}

.product .details h2 {
  font-weight: 300;
  font-size: 20px;
  font-family: var(--product-font);
  transition: var(--transition);
}
.product .details h2:hover {
  color: var(--color-jaune-aliance);
}
.product .details p {
  font-size: 15px;
  padding: 8px 15px;
  font-weight: 200;
}
.product img {
  width: 200px;
  height: 250px;
  object-fit: contain;
  object-position: center center;
  transition: var(--transition);
}
.product:hover img {
  transform: scale(1.1);
}
.product .prduHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .prduHead .redux {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 2;
  margin-top: -8px;
  background: var(--color-primary-one);
  padding: 5px;
}
.product .prduHead .redux p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.product .prduHead .priceGame {
  background: var(--color-2);
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 2;
  margin-top: -8px;
  padding: 5px;
}

.product .priceGame p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.product a {
  color: var(--color-primary-one);
  padding: 10px 15px;
  background: transparent;
  border: 1px solid var(--color-primary-one);
  transition: var(--transition);
  margin-top: 15px;
  font-size: 10px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars i {
  font-size: 15px;
  color: var(--color-2);
}

.product .price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.2rem;
  gap: 10px;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.048);
  width: 100%;
}

.product .price span {
  font-size: 15px;
  text-decoration: line-through;
  color: var(---color-gray);
}

.product .price p {
  font-size: 15px;
  font-weight: 500;
}

/*------   BRANDING ANNONCE--------*/
.bestof {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  max-width: 100%;
  height: 100%;
  position: relative;
}

.bestProducts .bestimage {
  background-image: url(../image/banner1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 130px 75px 130px 75px;
}

.bestProducts .best2 {
  background-image: url(../image/banner2.jpg);
  right: 0;
  margin-left: -17px;
}
.bestof .bestProducts:nth-child(2) {
  top: 1rem;
  position: relative;
}
.bestProducts h2 {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 1rem;
}

.bestProducts h2 span {
  font-size: 95px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 7px;
}

.bestProducts a {
  color: var(--color-primary-one);
  border: 1px solid var(--color-primary-one);
  transition: var(--transition);
  font-size: 17px;
  padding: 1rem;
}
.bestProducts a:hover {
  padding-left: 2rem;
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}

/*--------   VENTES FLASH --------*/
.ventesFlash {
  width: 100%;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 7rem;
}

.flash {
  display: block;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 200px;
  padding: 1rem;
}

.flash:hover {
  background: transparent;
}

.flash i {
  font-size: 2rem;
  padding: 1rem 0;
}

.flash p {
  font-weight: 500;
  padding: 1rem 0;
  text-transform: uppercase;
}

.flash span {
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  width: 210px;
  color: var(---color-gray);
}

/*--------   About SECTION HOme Page --------*/

.containerAbot {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1160px;
  margin: 2rem auto;
  position: relative;
}

.about-section .about_image {
  background-image: url(../image/Colage_86&92.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200vw;
  height: 865px;
  position: relative;
  display: flex;
}

.about-section .about2 {
  background-image: url(../image/background_histoire.jpg);
  top: 4rem;
  position: relative;
}

.about-section .about_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--color-primary-white);
  width: 171vw;
  height: 100%;
  padding: 9rem 3rem;
  position: relative;
  top: 4rem;
  gap: 2rem;
}
.about_2 .about_info {
  top: 0;
}
.about-section .about_info span {
  letter-spacing: 10px;
  font-family: var(--product-font);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1px;
}

.about-section .about_info h2 {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 25px;
}

.about-section .about_info article {
  text-align: justify;
  color: var(---color-gray);
  padding: 1rem 0.5rem;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

.about-section .about_info a {
  padding: 1rem;
  color: var(--color-primary-one);
  border: 1px solid var(--color-primary-one);
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 200;
  transition: var(--transition);
}

.about-section .about_info a:hover {
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}

/* --- BRANDIND Numéro 2---------*/
.bestProducts .brand {
  background-image: url(../image/banner3.jpg);
}
.bestProducts .brand h2 {
  color: var(--color-primary-white);
}

.bestProducts .brand2 {
  background-image: url(../image/luchiana7.webp);
}

.bestProducts .brand a {
  color: var(--color-primary-white);
  border: 1px solid var(--color-primary-white);
  transition: var(--transition);
  font-size: 17px;
  padding: 1rem;
}

/* --- Témoignages---------*/
.swiper {
  width: 82%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
.témoin-titre h2 {
  font-size: var(--font-family);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 7px;
}
.swiper-wrapper {
  margin-bottom: 3.5rem;
}

.swiper-slide {
  background: linear-gradient(135deg, #e7e9e8, #d7e0dd);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  cursor: default;
  font-size: 0.9rem;
  height: 340px !important;
  justify-content: center;
}

.swiper-slide p {
  margin-bottom: 1.5rem;
  color: var(--color-primary-one);
  font-size: 0.9rem;
  font-family: var(--font-family);
  font-weight: 300;
}
.aptient__details h5 {
  color: var(--color-primary-one);
}

.patient {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px !important;
}
.patient .avatar img {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.swiper-pagination-bullet {
  color: var(--color-vert);
}

@media screen and (max-width: 600px) {
  .swiper-slide {
    padding: 1.5rem;
  }
}

/*---------- distributeurs-------*/

.bestProducts .distributeurs {
  background-color: #181619;
  background-image: url(../image/banner4.jpg);
  width: 100vw;
  height: 100%;
  -webkit-backdrop-filter: blur(10px); /* Filter*/
  backdrop-filter: blur(10px); /* FIlter*/
}
.bestProducts .distributeurs .bestINfors {
  color: var(--color-primary-white);
}
.bestProducts .distributeurs .bestINfors h2 span {
  /* -webkit-text-stroke: 1px black;*/
  font-weight: 500;
  font-family: var(--font-family2);
  text-shadow: 2px 5px 0px var(--color-jaune-aliance);
}
.distributeurs .bestINfors p {
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: lowercase;
  text-shadow: 4px 0 5px var(--color-primary-one);
}

/*---------- Partenaires-------*/

.partenaires_container {
  width: 100%;
  position: relative;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  padding: 0 7rem;
}
.partenaires_container .partner img {
  width: 120px;
  height: 120px;
}

/*--------- GALERIE -----*/
.galerie_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  max-width: 100%;
  height: 70vh;
  position: relative;
  margin-bottom: 5rem;
}

.galerie_section .gal {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 130px 75px 130px 75px;
  transition: var(--transition);
  cursor: pointer;
}
.galerie_section .gal:hover {
  width: 60vw;
}
.galerie {
  background-image: url(../image/banner5.jpg);
  top: 3rem !important;
}
.galerie2 {
  background-image: url(../image/banner6.jpg);
  top: 2rem !important;
}
.galerie3 {
  background-image: url(../image/banner7.jpg);
}

/*---------- POINTS DE VENTES ----------*/

.pointsVentes {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 0 7rem;
}
.pointsVentes > h2 {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 7px;
}
.pointsVentes .points {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1024px;
  width: 100%;
}
.pointsVentes .points a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  width: 183px;
  height: 114px;
  background: linear-gradient(135deg, #e7e9e8, #d7e0dd);
  border-radius: 10px;
  color: var(--color-primary-one);
  font-family: var(--font-family);
  transition: var(--transition);
}
.pointsVentes .points a:hover {
  background: none;
  border: 1px solid #d7e0dd;
}
.pointsVentes .points a h2 {
  font-weight: 400;
  font-size: 15px;
}

/*------------  NEWSLETTERS---------*/

.newsletters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80vw;
  height: 100%;
  margin: 2rem 5rem;
  background: var(--color-primary-white);
}
.newsletters .infoNewsle {
  width: 50vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.newsletters .infoNewsle > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  gap: 1rem;
}

.newsletters .infoNewsle > div img {
  width: 91px;
  height: 68px;
  object-fit: cover;
}
.newsletters .infoNewsle > div p {
  letter-spacing: 4px;
  font-weight: 500;
  line-height: 1.5;
}

.newsletters .infoNewsle span {
  padding-top: 1rem;
  font-size: 13px;
  color: gray;
}
.newsletters .infoNewsle form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.newsletters .infoNewsle form input {
  width: 20vw;
  height: 7vh;
  padding: 1rem;
  outline: none;
  border: 1px solid gray;
  border-right: none !important;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.newsletters .infoNewsle form button {
  height: 7vh;
  width: 100%;
  cursor: pointer;
  letter-spacing: 4px;
  font-size: 12px;
  border: 1px solid gray;
  border-left: none !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imaNewslette {
  width: 50vw;
  height: 60vh;
  background-position: center center;
  background-size: cover;
  background-image: url(../image/banner8.jpg);
  cursor: pointer;
  background-repeat: no-repeat;
}

/*------------ FOOTER SECTION --------------*/
.footer_section {
  background-image: url(../image/banner9.webp);
  background-position: center center;
  background-repeat: repeat;
  background-size: 290px auto;
  background-color: var(--color-primary-one);
  margin-top: 4rem;
  text-align: center;
  background-color: #000000;
  padding: 45px 0px 45px 0px;
  width: 100vw;
}

.footer_section span {
  color: var(--color-primary-white);
  font-size: 13px;
  letter-spacing: 5px;
  border-top: 1px solid var(--color-primary-white);
  width: 100%;
  padding: 1rem;
  position: relative;
  bottom: 1rem;
}

.footer_section span a {
  color: var(--color-jaune-aliance);
  transition: var(--transition);
}
.footer_section span a:hover {
  font-size: 15px;
  color: var(--color-primary-white);
  text-decoration: solid;
}
.footer_section ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  padding: 2rem;
}
.footer_section ul li {
  list-style: circle !important;
  color: var(--color-primary-white);
}
.footer_section ul li:first-child {
  list-style: none !important;
}
.footer_section ul li a {
  color: var(--color-primary-white);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  transition: var(--transition);
}
.footer_section ul li a:hover {
  color: var(--color-jaune-aliance);
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 8rem;
  margin-bottom: 78px !important;
}
.footer_info .left {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.footer_info .left a,
small {
  color: var(--color-primary-white);
}
.footer_info .left a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 13px;
  letter-spacing: 4px;
  font-weight: 400px;
  transition: var(--transition);
}
.footer_info .left a:hover {
  color: var(--color-jaune-aliance);
}
.footer_info .left small {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.footer_info .center {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_info .center img {
  width: 280px;
  height: 150px;
}

.footer_info .center .resaux {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  top: 10px;
}

.footer_info .center .resaux a {
  color: var(--color-jaune-aliance);
  transition: var(--transition);
}
.footer_info .center .resaux a i {
  font-weight: 200 !important;
}

.footer_info .center .resaux a:hover {
  color: var(--color-primary-white);
}

.footer_info .right {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  text-align: right;
}

.footer_info .right p {
  font-size: 13px;
  color: var(--color-primary-white);
  font-weight: 300;
  letter-spacing: 3px;
}

.footer_info .right a {
  color: var(--color-primary-white);
  font-size: 15px;
  font-weight: 300px;
  letter-spacing: 4px;
  transition: var(--transition);
}
.footer_info .right a:hover {
  color: var(--color-jaune-aliance);
}

/*------------------- ABOUT -------------*/
.banner_about {
  background-image: url(../image/banner10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  -webkit-backdrop-filter: blur(10px); /* Filter*/
  backdrop-filter: blur(10px); /* FIlter*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-primary-white);
  position: relative;
}

.banner_about h1 {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.banner_about span {
  position: absolute;
  bottom: 5rem;
}
.banner_about span a {
  color: var(--color-primary-white);
  font-size: 13px;
  transition: var(--transition);
}
.banner_about span a:hover {
  color: var(--color-jaune-aliance);
}
.banner_about span small {
  font-size: 13px;
}

/*-----  SECTION NOTRE MISSION*/

.ourMission {
  position: relative;
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  flex-direction: column;
}
.ourMission .topHead {
  text-align: center;
}
.ourMission .topHead h1 {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 14px;
  position: relative;
  padding-bottom: 2rem;
  font-family: var(--product-font);
}
.ourMission .topHead h1 span {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.ourMission .missionContent {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 2rem;
}

.ourMission .missionContent article a {
  border: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  transition: var(--transition);
}
.ourMission .missionContent article a:hover {
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}

.ourMission .missionContent article {
  width: 450px;
  text-align: justify;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 2;
  color: gray;
  hyphens: auto;
}

/*---------- PRODUCT PAGES ---------*/
.prdouct_banner {
  background-image: url(../image/banner11.jpg);
  background-color: #181619;
}

.savon_banner {
  background-image: url(../image/banner12.jpg);
}
.lait_banner {
  background-image: url(../image/banner2.jpg);
}
.lait_banner h1,
.creme_banner h1,
.lait_banner span,
.creme_banner span,
.lait_banner span a,
.creme_banner span a {
  color: var(--color-primary-one) !important;
}
.lait_banner span a:hover,
.creme_banner span a:hover {
  color: var(--color-jaune-aliance) !important;
}

.services_banner {
  background-image: url(../image/banner13.jpg);
}

.creme_banner {
  background-image: url(../image/banner1.jpg);
}

.gel_banner {
  background-image: url(../image/banner3.jpg);
}
.accesoires_banner {
  background-image: url(../image/banner15.jpg);
}
.pEclat_banner {
  background-image: url(../image/banner16.jpg);
}
.tpetis_banner {
  background-image: url(../image/banner17.jpg);
}
.pEbene_banner {
  background-image: url(../image/banner18.jpg);
}
.jouv_banner {
  background-image: url(../image/banner19.jpg);
}

.productPage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.filterBTN {
  width: 150px;
  height: 100%;
  position: relative;
  margin: 1.2rem 7rem;
  display: none;
}
.filterProduct {
  cursor: pointer;
  font-size: 1rem;
  padding: 7px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  text-align: left;
}

.filterProduct i {
  font-size: 2rem;
}

.produit_container {
  max-width: 1200px;
  height: 100%;
  display: flex;
  padding: 2rem 6rem;
  justify-content: center;
  gap: 2rem;
}

.produit_container aside {
  background-color: var(--color-primary-white);
  padding: 2rem;
  position: sticky;
  top: 90px;
  width: 335px;
  height: 100%;
}
.closeAside {
  display: none;
}

.produit_container aside .categGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.produit_container aside .categGroup:nth-child(2) {
  padding-bottom: 30px;
  padding-top: 30px;
}
.produit_container aside .categGroup:nth-child(3) {
  padding-top: 30px;
  border-top: 2px solid rgba(206, 206, 206, 0.7);
}
.produit_container aside .categGroup h1 {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.produit_container aside .categGroup a {
  color: var(---color-gray);
  transition: var(--transition);
  position: relative;
  left: 20px;
}

.produit_container aside .categGroup a.active {
  color: var(--color-jaune-aliance);
  font-weight: 500;
  text-transform: uppercase;
}
.produit_container aside .categGroup a:hover {
  color: var(--color-primary-one);
  left: 30px;
}

.overProduct {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem;
  display: grid;
  align-items: self-start;
  /*  justify-content: center;*/
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-direction: row;
}

.btnPage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.btnPage span {
  padding: 10px 15px;
  border: 1px solid var(--color-primary-one);
  cursor: pointer;
  transition: var(--transition);
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}
.btnPage a {
  padding: 10px 15px;
  border: 1px solid var(--color-primary-one);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-primary-one);
}
.btnPage a:hover {
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}

/*------ QUIZZ CONTAINER --------*/
.quizz_container {
  padding-inline: 16px;
  display: grid;
  gap: 24px;
  position: relative;
  left: 5rem;
  user-select: none;
}

.formSection {
  --forms-items: 1;

  position: relative;
  width: 100%;
  padding-inline: 16px;
  overflow-x: hidden;
}

.form__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: transform 250ms ease;
}

.formul_item {
  min-width: calc(100% / var(--forms-items));
  width: calc(100% / var(--forms-items));
  padding-inline: 4px;
}

.formSection form {
  position: relative;
  width: 100%;
  /*  height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.btnNext {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 15px;
}

.formSection .name__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 5rem;
  padding: 4rem;
  border: 1px solid gray;
}

.name__group .message_group .btn-primary {
  position: relative;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-one);
  color: var(--color-vert);
  border-radius: 5px;
  transition: all 400ms ease;
}

.name__group .message_group .btn-primary:hover {
  font-size: 1rem;
  background: var(--color-vert);
  color: var(--color-primary-white);
}
.name__group .message_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
}
.name__group .message_group label {
  font-weight: bold;
}

.name__group .message_group textarea {
  width: 500px;
  resize: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}

.name__group img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.name__group .formulare {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.name__group .formulare label {
  font-size: 20px;
}

.name__group .formulare input {
  width: 250px;
  height: 5vh;
  padding: 1rem;
  outline: none;
}
.name__group .formulare fieldset {
  width: 400px;
  height: 100%;
  padding: 1rem;
}
.name__group .formulare fieldset input {
  width: 50px;
  height: 100%;
  padding: 0;
}

.name__group .formulare fieldset label {
  font-size: 17px;
}

.name__group .formulare fieldset div {
  padding: 12px 0;
}

.name__group .formulare fieldset legend {
  font-size: 20px;
  font-weight: 700;
  padding: 2rem 1rem;
  color: var(--color-jaune-aliance);
}

@media (min-width: 1200px) {
  .quizz_container {
    max-width: 1150px;
  }
  .banner-slider {
    --forms-items: 1;
  }
}

@media (min-width: 1400px) {
  .quizz_container {
    max-width: 1400px;
  }
  .banner-slider {
    --forms-items: 2;
  }
}
.compoition_savons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 4rem;
}
.compoition_savons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------ MAGAZINE PAGE -----------*/
.magazine_banner {
  background-image: url(../image/banner14.jpg);
}
.ingred_banner {
  background-image: url(../image/banner12.jpg);
}
.prod_banner {
  background-image: url(../image/banner11.jpg);
}

.bloging {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bloging .blog_container {
  max-width: 1132px;
  height: 100%;
  display: flex;
  padding: 2rem 6rem;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.bloging .blog_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: auto;
  gap: 1rem;
}
.blog_content .blog {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: auto;
  height: auto;
  background: var(--color-primary-white);
}
.blog .imgae {
  position: relative;
  top: 2px;
}
.blog .imgae img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.blog .imgae span {
  position: absolute;
  top: 50px;
  right: -10px;
  background: var(--color-primary-one);
  color: var(--color-primary-white);
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
}

.blog_content .blog_info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.blog_content .blog_info h1 {
  font-family: var(--product-font);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 500;
}
.blog_content .blog_info p {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
  width: 380px;
  color: var(---color-gray);
}

.blog_content .blog_info a {
  letter-spacing: 5px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
  width: 170px;
  transition: var(--transition);
}
.blog_content .blog_info a:hover {
  background: var(--color-primary-one);
  color: var(--color-primary-white);
}

.globCateg {
  width: 100%;
  max-height: 700px;
  background-color: var(--color-primary-white);
  padding: 2rem;
  position: sticky;
  top: 90px;
}

.globCateg .categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 20vh;
}
.globCateg .categories h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

.globCateg .categories a {
  position: relative;
  left: 10px;
  color: var(---color-gray);
  transition: var(--transition);
}
.globCateg .categories a.active,
.globCateg .categories a:hover {
  left: 15px;
  color: var(--color-primary-one);
}
.globCateg .articleplus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.globCateg .articleplus h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

.articleplus .articontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleplus .articontent .arti {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.articleplus .articontent .arti img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.articontent .arti .info h3 {
  font-family: var(--product-font);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--color-primary-one);
  transition: var(--transition);
}
.articontent .arti .info h3:hover {
  color: var(--color-jaune-aliance);
}
.articontent .arti .info small {
  color: var(---color-gray);
}
.blogPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 900px;
  height: auto;
  background: var(--color-primary-white);
}
.blogPage .imgae {
  position: relative;
  top: 2px;
  width: 900px;
  height: 350px;
}
.blogPage .imgae img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.blogPage .imgae .comments {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  left: 50px;
  top: 10px;
}

.blogPage .imgae .comments small {
  color: var(---color-gray);
}

.blog_page .blog_info {
  padding: 1.5rem 3rem;
}
.blog_page .blog_info h1 {
  font-family: var(--product-font);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 700;
}
.blog_page .blog_info p {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(---color-gray);
  line-height: 25px;
  text-align: justify;
}
.blog_info .exemple_product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.blog_info .product {
  background: var(--color-primary-white);
  border: 1px solid var(---color-gray);
  width: 250px;
  height: 450px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.blog_info .product .details h2 {
  font-weight: 300;
  font-size: 20px;
  font-family: var(--product-font);
  transition: var(--transition);
}
.blog_info .product .details h2:hover {
  color: var(--color-jaune-aliance);
}

.blog_info .product .details p {
  font-size: 15px;
  padding: 8px 15px;
  font-weight: 200;
}
.blog_info .product img {
  width: 200px;
  height: 250px;
  object-fit: contain;
  object-position: center center;
  transition: var(--transition);
}
.blog_info .product:hover img {
  transform: scale(1.1);
}
.blog_info .product .prduHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_info .product .prduHead .redux {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 2;
  margin-top: -8px;
  background: var(--color-primary-one);
  padding: 5px;
}
.blog_info .product .prduHead .redux p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.blog_info .product .prduHead .priceGame {
  background: var(--color-2);
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 2;
  margin-top: -8px;
  padding: 5px;
}

.blog_info .product .priceGame p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog_info .product a {
  color: var(--color-primary-one);
  padding: 15px 20px;
  background: transparent;
  border: 1px solid var(--color-primary-one);
  position: absolute;
  top: 7rem;
  opacity: 0;
  transition: var(--transition);
}
.blog_info .product a:hover {
  border-color: var(--color-jaune-aliance);
  color: var(--bg-color);
  background: var(--color-jaune-aliance);
  font-size: 10px;
}
.blog_info .product:hover a {
  opacity: 1;
}

.blog_info .share {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}
.blog_info .share p {
  color: var(--color-primary-one);
  font-size: 15px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.blog_info .share a {
  color: var(--color-primary-one);
  transition: var(--transition);
}
.blog_info .share a:hover {
  color: var(---color-gray);
}

/*-------------- CONTACT PAGE ----------*/
.contact_bGimage {
  background-image: url(../image/bannerBlue.png);
  height: 50vh;
}

.contact_container {
  width: 100%;
  height: 100%;
  max-width: 1360px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
}

.contact_container .contactMaps {
  display: flex;
  width: 1200px;
  height: 500px;
  justify-content: space-between;
  gap: 1rem;
  background: var(--color-primary-white);
}
.contact_container .contactMaps .left {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 50px 60px 50px 60px;
}
.contact_container .contactMaps .left h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.contactNum .elemntor_row {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 55px;
  margin-bottom: 0px;
  width: 500px;
}
.contactNum .elemntor_row > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.contactNum .elemntor_row span {
  font-size: 15px;
  font-weight: 400;
}
.contactNum .elemntor_row small {
  color: var(--color-primary-one);
  font-size: 14px;
}
.contactNum .elemntor_row a {
  color: var(--color-primary-one);
  font-size: 14px;
  margin-top: 0.85rem;
  font-weight: 700;
  transition: var(--transition);
}
.contactNum .elemntor_row a:hover {
  color: var(--color-jaune-aliance);
}
.contactNum .elemntor_row .resaux_classse > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactMaps .right {
  width: 100%;
  height: 100%;
}
.contactMaps .right iframe {
  width: 100%;
  height: 100%;
}

.contactMaps .contact_im img {
  width: 618px;
  height: 500px;
  object-fit: cover;
}

.contactMaps .right form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 50px 60px 50px 60px;
}

.contactMaps .right form h1 {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
}

.contactMaps .right form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contactMaps .right form > div input {
  width: 100%;
  height: 50px;
  padding: 1rem;
  outline: none;
  background: var(--bg-color);
  transition: var(--transition);
  border: 1px solid var(---color-gray);
}
.contactMaps .right form > div input:focus {
  background-color: var(--color-primary-white);
}

.contactMaps .right form > div textarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
  outline: none;
  background: var(--bg-color);
  transition: var(--transition);
  border: 1px solid var(---color-gray);
  resize: none;
}
.contactMaps .right form > div textarea:focus {
  background-color: var(--color-primary-white);
}
.contactMaps .right form button {
  width: 100%;
  height: 45px;
  color: var(--color-primary-white);
  background: var(--color-primary-one);
  border: 1px solid var(--color-primary-one);
  transition: var(--transition);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.contactMaps .right form button:hover {
  background: transparent;
  color: var(--color-primary-one);
  font-size: 15px;
}
