@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import "./responsive.css";

:root {
  --font-family: "Inter", sans-serif;
  --font-family2: glacialRegular, sans-serif;
  --product-font: "Marcellus", sans-serif;
  --color-primary-one: #000;
  --color-primary-white: #fff;
  --color-vert: #06300b;
  --color-jaune-aliance: #c36000;
  --color-2: #e4c1b1;
  /* --bg-color: #f3f3f3;*/
  --bg-color: #f5f5dc; /* color beige*/
  --transition: all 400ms ease;
  ---color-gray: gray;

  /* SLIDERS GAMME PRODUCT ROOT ------*/
  --background: #e4c1b181;
  --surface-variant: hsl(218, 8%, 28%);
  --secondary-container: hsl(218, 18%, 29%);
  --on-secondary-container: hsl(219, 70%, 91%);

  /*----- Border Radius -----*/
  --radius-full: 50%;
  --radius-12: 12px;
}

@font-face {
  font-family: glacialRegular;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
.container {
  width: 100%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

/*----------------- SLIDER -------------------*/
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderN {
  display: none;
  animation: fade 1.5s ease;
}
#slideFormat750px {
  display: none;
}

@keyframes fade {
  form {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.sliderN .content {
  position: absolute;
  top: 12rem;
  left: 10rem;
  z-index: 999;
  width: 50vw;
  animation: preLoader 1s linear forwards;
}

@keyframes preLoader {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}
.sliderN .content h1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 3.5rem;
  color: #fff;
  padding-bottom: 1rem;
}

.sliderN img {
  position: relative;
  top: -30px;
  height: 100% !important;
}

.sliderN .content p {
  font-size: 25px;
  font-weight: 200;
  text-align: justify;
  padding-bottom: 5rem;
  color: #fff;
  width: 500px;
}

.sliderN .content a {
  color: var(--color-primary-white);
  background: var(--color-jaune-aliance);
  padding: 1rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-jaune-aliance);
  transition: var(--transition);
  font-size: 17px;
}
.sliderN .content a:hover {
  background: transparent;
}

.prev_button,
.suiv_button {
  width: 40px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(240, 240, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  transition: var(--transition);
}
.prev_button {
  left: 5rem;
}
.suiv_button {
  right: 5rem;
}
.prev_button:hover,
.suiv_button:hover {
  color: var(--color-primary-white);
}

.lines {
  position: absolute;
  display: flex;
  bottom: 120px;
  left: 7rem;
  gap: 1rem;
}

.line {
  padding: 7px;
  margin: 0 3px;
  background-color: rgba(240, 240, 255, 0.7);
  cursor: pointer;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
.active,
.line:hover {
  background-color: var(--color-primary-white);
}

/*------------------ 
    ---- HEADER ------
    *------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1150px;
  height: 13vh;
  margin: 0 5rem;
  background: transparent;
  z-index: 99999;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  width: 150px;
}

header nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-right: 8rem;
}

header .menu li a {
  color: var(--color-primary-white);
  text-transform: uppercase;
  font-size: 15px;
  transition: var(--transition);
  font-weight: 600;
}
header .menu li a:hover {
  color: var(--color-jaune-aliance);
}

header .resaux {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .resaux a {
  color: var(--color-primary-white);
  transition: var(--transition);
}
header .resaux a:hover {
  color: var(--color-jaune-aliance);
}

.close__nav {
  display: none;
}
.open__nav {
  display: none;
}
header.window-scroll {
  background: var(--color-primary-white);
  -webkit-box-shadow: 0 0rem 1rem rgba(12, 3, 27, 0.1);
  box-shadow: 0 0rem 1rem rgba(12, 3, 27, 0.1);
  top: -50%;
  animation: scrolMenu 0.41s linear forwards;
  z-index: 99999;
  padding: 0 5rem;
  margin: 0 0;
  width: 100%;
  max-width: 100%;
}
@keyframes scrolMenu {
  to {
    top: 0;
  }
}

header.window-scroll .menu li a {
  color: var(--color-primary-one);
}

header.window-scroll .resaux a {
  color: var(--color-primary-one);
}

header.window-scroll .open__nav i {
  color: var(--color-primary-one) !important;
}

/*-------------
-------- GAMME PRODUCT 
------------------- */
.topProducts {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.topProducts .topHead {
  text-align: center;
  padding: 2rem;
}

.topProducts .topHead h1 {
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 14px;
  position: relative;
  padding-bottom: 2rem;
}

.topProducts .topHead h1 span {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

.topHead .button_messages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  position: relative;
}

.topHead .button_messages::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: var(---color-gray);
  bottom: -1px;
}
.topHead .button_messages button {
  color: var(---color-gray);
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 2rem 0;
  transition: var(--transition);
  border: none;
  background: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.topcontent .product.active {
  margin-right: 150px;
}
.topHead .button_messages button:hover {
  border-bottom: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
}
.topHead .button_messages button:focus {
  border-bottom: 1px solid var(--color-primary-one);
  color: var(--color-primary-one);
}
.poductSLider_container {
  padding-inline: 8px;
  display: grid;
  gap: 24px;
  justify-content: center;
  height: fit-content;
  margin-bottom: 4rem;
}
.filter-items {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: transform 250ms ease;
  gap: 24px;
}

.slider-item {
  min-width: calc(100% / var(--slider-items));
  width: calc(100% / var(--slider-items));
  padding-inline: 4px;
}

.sliderSection {
  --slider-items: 1;

  position: relative;
  width: 100%;
  padding-inline: 16px;
  overflow-x: hidden;
}

.sliderSection::before {
  left: 0;
}

.sliderSection::after {
  right: 0;
  --gr-direction: left;
}

.btn-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: var(--secondary-container);
  font-size: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius-full);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
  border: 1px solid var(--secondary-container);
  cursor: pointer;
}

.slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-control.prev {
  left: 0;
}

.slider-control.next {
  right: 0;
}

.slider-control:disabled {
  display: none;
}

.product {
  background: var(--color-primary-white);
  width: 270px;
  height: 510px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
/* quand on clic sur le btn ajouter cette action */
.clic_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 567px) {
  .poductSLider_container {
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
  }

  .card-slider {
    --slider-items: 2.2;
  }
}

@media (min-width: 768px) {
  .poductSLider_container {
    max-width: 720px;
  }
  .card-slider {
    --slider-items: 3.3;
  }
}

@media (min-width: 992px) {
  .poductSLider_container {
    max-width: 960px;
  }
  .card-slider {
    --slider-items: 3.7;
  }
}

@media (min-width: 1200px) {
  .poductSLider_container {
    max-width: 1100px;
  }

  .card-slider {
    --slider-items: 4.3;
  }
}

@media (min-width: 1400px) {
  .poductSLider_container {
    max-width: 1200px;
  }

  .card-slider {
    --slider-items: 5.4;
  }
}

.product .details h2 {
  font-weight: 300;
  font-size: 20px;
  font-family: var(--product-font);
  transition: var(--transition);
}
.product .details h2:hover {
  color: var(--color-jaune-aliance);
}
.product .details p {
  font-size: 15px;
  padding: 8px 15px;
  font-weight: 200;
}
.product img {
  width: 200px;
  height: 250px;
  object-fit: contain;
  object-position: center center;
  transition: var(--transition);
}
.product:hover img {
  transform: scale(1.1);
}
.product .prduHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .prduHead .redux {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 2;
  margin-top: -8px;
  background: var(--color-primary-one);
  padding: 5px;
}
.product .prduHead .redux p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.product .prduHead .priceGame {
  background: var(--color-2);
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 2;
  margin-top: -8px;
  padding: 5px;
}

.product .priceGame p {
  color: var(--color-primary-white);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.product a {
  color: var(--color-primary-one);
  padding: 10px 15px;
  background: transparent;
  border: 1px solid var(--color-primary-one);
  transition: var(--transition);
  margin-top: 15px;
  font-size: 10px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars i {
  font-size: 15px;
  color: var(--color-2);
}

.product .price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.2rem;
  gap: 10px;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.048);
  width: 100%;
}

.product .price span {
  font-size: 15px;
  text-decoration: line-through;
  color: var(---color-gray);
}

.product .price p {
  font-size: 15px;
  font-weight: 500;
}
